.tab-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 20px;
}

.tab-item {
    &__button {
        padding: 6px 12px;
        border: none;
        box-shadow:0 0 10px 1px #6000c6;
        border-radius: 12px;
        background: none;
        cursor: pointer;
        transition: .2s;
        font-size: 16px;

        &_active {
            background: #6000c6;
        }
    }
}