.app {
    display: flex;
    height: 100%;
}

.button {
    width: 100%;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    background: #4a4a4a;
    cursor: pointer;
}